<!doctype html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css">
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="/jquery/jquery.min.js"></script>
</head>
<body>
<div class="container">
	 {{{body}}}

	</div>
</body>


</html>
