<header>
  <div id="top-nav">
    <div class="pad padV">
      <div class="container wide">
        <div class="col-sm-5">
          <div class="location ">
            <div class="address half"><i class="fa fa-map-marker" aria-hidden="true"></i>1234 main st</div>
            <div class="phone half">
              <i class="fa fa-phone" aria-hidden="true"></i><a href="tel:1-800-867-5309">1-800-867-5309</a>
            </div>
          </div>
        </div>

        <div class="col-sm-1 pull-right">
          <div class="social-links">
            <ul class="list-inline spaced">
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="bottom-nav">
    <div class="container wide pad padV">

        <div class="col-sm-3">
          <div id="logo">
            <h1 >
              <span class="top">hotel</span><br>
              <span class="bottom">finder</span>
            </h1>
          </div>
        </div>
        <div class="col-sm-7 pull-right">
          <nav class="">
            <ul class="list-inline spaced">
              <li><a href="#">home</a></li>
              <li><a href="#">rooms & suites</a></li>
              <li><a href="#">dining & bar</a></li>
              <li><a href="#">amenities</a></li>
              <li><a href="#">gallery</a></li>
              <li><a href="#">blog</a></li>
              <li><a href="#">about us</a></li>
              <li><a href="#">contact us</a></li>
            </ul>
          </nav>
        </div>

    </div>
  </div>
</header>
