<!doctype html>
<html>
<head>
	<title>Default</title>
	<link href="https://fonts.googleapis.com/css?family=Lora|Oswald" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="/css/bootstrap-revision.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="/jquery/jquery.min.js"></script>
</head>

<body>
	{% include './header'%}
