<section class =" container inherit">
 <div class="row inherit">


	 <div class="with pad-half  inherit">
     <div class="content inherit pad">
       <h2>500 Error</h2>
  			<p>
  			  {{error}}
  		 </p>
		</div>
	 </div>




 </div>
</section>
