{% include './layouts/head' %}

<main>
  <div class="slide with">
    <img src="http://placehold.it/1920x600" alt="">
  </div>
  <div class="row">
    <div class="container wide">
      <h1 class="text-center">This is a homepage</h1>
    </div>
  </div>
</main>


{% include './layouts/footer' %}
