

<section class =" container inherit">
 <div class="row inherit">


	 <div class="with pad-half  inherit">
     <div class="content inherit pad">
       {{#if logged}}
        <h2>Hello {{username}}</h2>
       {{/if}}
     <h2>check out the latest pictures</h2>
		   <div class="row">
		    {{> imgCollection}}
		   </div>
		</div>
	 </div>
 </div>
</section>
