<section class =" container inherit">
 <div class="row ">


	 <div class="with pad-half  ">
     <div class="content  pad">
       <h2 class="center">You Have Been Logged Out</h2>
		</div>
	 </div>

 </div>
</section>
