<section class =" container inherit">
 <div class="row ">


	 <div class="with pad-half  ">
     <div class="content  pad">
       <h2 class="center">SignUp</h2>
       <div class="row">
         {{> loginForm}}
       </div>
		</div>
	 </div>

 </div>
</section>
