<section class =" container inherit">
 <div class="row ">


	 <div class="with pad-half  ">
     <div class="content  pad">
       <h2 class="center">Upload</h2>
       <div class="row">
         <form ref='uploadForm'  id='uploadForm'  encType="multipart/form-data" method="post">
           <div class="input-block pad-half padV">
             <input class="no-pad" type="file" name="image" value="">
           </div>
           <div class="input-block pad-half padV">
             <input  class="btn btn-default" type="submit" name="" value="submit">
           </div>
         </form>
       </div>
		</div>
	 </div>

 </div>
</section>
