<select class="with-6" name="nation">
  <option disabled="true "selected="true">-- Nation --</option>
  <option value="united states">United States</option>
  <option value="canada">Canada</option>
  <option value="united kingdom">United Kingdom</option>
  <option value="china">China</option>
  <option value="south korea">South Korea</option>
  <option value="japan">Japan</option>
  <option value="india">India</option>
  <option value="south africa">South Africa</option>
  <option value="kenya">Kenya</option>
  <option value="nigeria">Nigeria</option>
</select>
