<header class="container-fluid">
  <div class="col-sm-10 col-sm-offset-1 row">
    <nav class="nav col-sm-3">
      <ul class="list-inline">
        <li><a href="/">Home</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/messages">Messages</a></li>
        <li><a href="/friends">Friends</a></li>
      </ul>
    </nav>
	<div class="col-sm-5">
	
		<input class="search-bar" type="text" name="search" placeholder=" Search for ..." />
		<button type="button" class="btn glyphicon glyphicon-search"> </button>
		   
	</div>
	
	<div class="col-sm-3">
		<div>
			<a class="icon-notify" href="#">notification </a>	
			<a class="icon-avatar" href="#">avatar </a>   
		</div>   
	</div>
  </div>
</header>
